.c-link-cadastrar{
    background-color: var(--vinho);
    color: var(--branco);
    padding: .7em;
    border-radius: 5px;
    font-size: 1em;
}

.c-link-entrar{
    color: var(--cinza);
    padding: .7em;
    font-size: 1rem;
}

.c-link-entrar:hover{
    color: var(--vinho);
}

.c-link-cadastrar:hover{
    background-color: var(--cinza-claro);
}