@import url("./reset.css");
@import url("../layout/l-header.css");
@import url("../state/state.css");
@import url("../module/c-botoes.css");
@import url("../layout/l-aboutUs.css");
@import url("../layout/l-metricas.css");
@import url("../layout/l-vagas.css");
@import url("../layout/l-depoimentos.css");
@import url("../layout/l-footer.css");

:root{
    --vinho: #8E2424;
    --cinza: #3A404E;
    --cinza-medio: #667085;
    --cinza-claro: #98A2B3;
    --preto: #101828;
    --branco: #fff;
    --rosa: rgba(142, 36, 36, 0.05);
    --cor-borda: #EAECF0;

    --fonte-principal: 'Inter', sans-serif;

    font-size: 16px;
}