.metricas{
    display: flex;
    flex-wrap: wrap;
}

.metricas__titulo{
    font-weight: 600;
    font-size: 3.75rem;
    color: var(--vinho);
}

.metricas__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 4rem auto 0;
    padding-left: 1rem ;
    border-left: 3px solid var(--cinza-claro);
}

.metricas__titulo--inferior{
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--preto);
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.metricas__texto{
    font-weight: 400;
    font-size: 1rem;
    color: var(--cinza-medio);
    line-height: 24px;
}

@media screen and (min-width: 700px){
    .metricas__container{
        width: 40%;
    }
}

@media screen and (min-width: 1024px){
    .metricas__container{
        width: 15%;
        margin: 6rem auto 0;
    }
}